src/main/mule/git-test2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bf610810-8079-4638-a5ba-ba3935883094" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="d84a95c0-ef7c-41fd-9877-1d4fedf3efa9" file="config.properties" />
	<flow name="git-test2Flow" doc:id="667b5b10-2039-4ca8-b0ad-ef9270bb95fd" >
		<http:listener doc:name="Listener" doc:id="2ff76e28-86f4-49b2-93af-7569c091e130" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[p('message')]" doc:name="Set Payload" doc:id="307f5fa3-03c0-435d-96ab-59a81a660ae0" />
	</flow>
</mule>
